
$primary: #2A324B;
$link: #F7C59F;
@import "~bulma/bulma.sass";
.hero {
  margin-bottom: 4rem;
}

.modal-content {
  width: 85%;
}
figure.portrait {
  overflow: hidden;
  img.portrait {
    transform: rotate(90deg)
  }
}

.card-image {
  cursor: pointer;
}